body {
    background: peachpuff;
    text-align: center;
}

header {
    background: white;
}
.card {
    background: white;
    border: solid 1px palevioletred;
    padding: 2%;
    margin: 2%;
    width: 75px;
    height: 75px;
}
.button__delete {
    margin-top: 80%;
    margin-bottom: 0%;
}